.dockview {
    --dv-tabs-and-actions-container-background-color: var(--color-content) !important;
    --dv-activegroup-hiddenpanel-tab-background-color: var(--color-content) !important;
    --dv-tab-divider-color: transparent;
    --dv-tabs-and-actions-container-height: 35px;
    --dv-group-view-background-color: var(--color-content);
    --dv-activegroup-visiblepanel-tab-background-color: transparent !important;
    --dv-group-view-background-color: var(--color-content);
}

.dv-tab:focus,
.dv-tab:focus-within,
.dv-tab-content:focus {
    outline: none !important;
    box-shadow: none !important;
}

.dv-tab {
    outline: none !important;
    border: none !important;
}

.dv-tab:after,
.dv-tab:before {
    display: none !important;
}

.dv-tab.dv-active-tab {
    outline: none !important;
    box-shadow: none !important;
}

.dv-tab {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.dv-tabs-and-actions-container {
    border-radius: 4px 4px 0 0 !important;
    overflow: hidden;
}