@import "tailwindcss";

@import "./theme.css";
@import "./base.css";
@import "./fonts.css";
@import './utility.css';

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scroll-thumb) transparent;
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll-thumb);
  border-radius: 10px;
  border: 1px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scroll-hover);
}

.scrollbar-hide-auto::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollbar-hide-auto:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll-thumb);
}